<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
  <title>Input</title>
</head>
<body>
<header>
  <h1>Input</h1>
</header>
<main>
  <h2>Enter you name</h2>
  <form action="Output.html" th:action="@{/output}" th:object="${appUser}">

    <div th:if="${#fields.hasErrors('*')}">
      <h3>Input Errors</h3>
      <ul>
        <li th:each="e: ${#fields.errors('*')}" th:text="${e}">
          Validation Error
        </li>
      </ul>
    </div>

    <p>
      <label>
        First Name
        <input type="text" th:field="*{firstName}">
      </label>
    </p>

    <p>
      <label>
        Last Name
        <input type="text" th:field="*{lastName}">
      </label>
    </p>

    <p>
      <input type="submit" value="Send">
    </p>
  </form>
</main>
</body>
</html>
